name: Homebrew bump packages

on:
  workflow_dispatch:
  schedule:
  - cron: "15 */3 * * *"

env:
  HOMEBREW_DEVELOPER: 1
  HOMEBREW_NO_ANALYTICS: 1

jobs:
  autobump-formulae:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Homebrew
      id: set-up-homebrew
      uses: Homebrew/actions/setup-homebrew@main
      with:
        cask: false
        core: false
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up git
      uses: Homebrew/actions/git-user-config@main
      with:
        username: ${{ github.repository_owner }}

    - name: Bump formulae
      run: brew bump --no-fork --open-pr --formulae --bump-synced --tap "${GITHUB_REPOSITORY}"
      shell: bash -xeuo pipefail {0}
      env:
        HOMEBREW_GITHUB_API_TOKEN: ${{secrets.AUTOBUMP_TOKEN}}
        HOMEBREW_TEST_BOT_AUTOBUMP: 1
  autobump-casks:
    runs-on: macos-26
    steps:
    - name: Set up Homebrew
      id: set-up-homebrew
      uses: Homebrew/actions/setup-homebrew@main
      with:
        cask: false
        core: false
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up git
      uses: Homebrew/actions/git-user-config@main
      with:
        username: ${{ github.repository_owner }}

    - name: Bump casks
      run: brew bump --no-fork --open-pr --casks --tap "${GITHUB_REPOSITORY}"
      continue-on-error: true
      env:
        HOMEBREW_GITHUB_API_TOKEN: ${{secrets.AUTOBUMP_TOKEN}}
        HOMEBREW_TEST_BOT_AUTOBUMP: 1
